
body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

header {
	text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


p {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
